* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

body {
    background-color:bisque;
}

h1 {
    display: block;
    width: 100%;
    text-align: center;

    color:darksalmon;
    font-size: 6em;
}

p {
    margin: 2em;
    display: block;
    text-align: center;
}

footer ul li {
    list-style: inline;
}