* {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:chartreuse;
}

body {
    background-color: blue;
}

h1, h2 {
    display: block;
    width: 100%;
    text-align: left;

    color:aqua;
    font-size: 6em;
}

h2 {
    font-size: 3em;
}

p {
    margin: 2em;
    display: block;
    text-align: center;
}