* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:chartreuse;
}

body {
    background-color: blue;
}

h1, h2 {
    display: block;
    width: 100%;
    text-align: center;

    color:darksalmon;
    font-size: 6em;
}

h2 {
    font-size: 3em;
}

p {
    margin: 2em;
    display: block;
    text-align: center;
}